<div class="categoryProductList">
    {{#each category.products as |product|}}
    {{#link-to 'product-details' product.id}}
    <div class="userProductItem">

        <div class="productImage" style="background: url({{product.image}}) no-repeat center; background-size: contain;">

        </div>
        <div class="categoryProductContent">

        <h4>{{product.name}} | {{product.seller}} -- ${{product.price}}</h4>

      </div>
    </div>{{/link-to}}
    {{/each}}
</div>
