body {
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/img/leaves.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

.pageWrapper {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background: url('/img/ogmate.jpg') no-repeat center center fixed;
  background-size: cover;*/
  height: 70vh;
  justify-content: center;

}

.header h1 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.navLinks {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryList > .ember-view {
  width: 48%;
}

.MateItem {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/plant.jpg");
  background-size: cover;
  height: 40vh;
  margin: 2%;
}

.BombillasItem {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/ogmate.jpg");
  background-size: cover;
  height: 40vh;
  margin: 2%;
}

.GourdsItem {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/mate.jpg");
  background-size: cover;
  height: 40vh;
  margin: 2%;
}

.CasesItem {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/artsyMate.jpeg");
  background-size: cover;
  height: 40vh;
  margin: 2%;
}

.shop {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;

}
