body {
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/img/leaves.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-weight: lighter;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

.pageWrapper {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background: url('/img/ogmate.jpg') no-repeat center center fixed;
  background-size: cover;*/
  height: 100vh;
  justify-content: center;

}

.header h1 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 40px;
}

.lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  padding-bottom: 100px;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.navLinks {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.navLinks > .ember-view {
  width: 30%;
  display: flex;
}
.cartCount {
  border-radius: 50%;
  background: #70705A;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  text-align: center;
  position: relative;
  right: -100%;
  margin-top: -8px;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 4%;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryList > .ember-view {
  width: 48%;
}

.categoryItem {
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 2%;
}

.adminCategoryItem {
  margin: 1%;
  padding: 1%;
  text-align: center;
  width: 40%;
  background: rgba(0,0,0, .5);
}

.adminCategoryItem h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 25px;
  letter-spacing: 3px;
  border-bottom: 1px solid transparent;
  margin: 5px;
  transition: border-bottom 500ms linear;
}

.adminCategoryItem h3:hover {
  border-bottom: 1px solid white;
  transition: border-bottom 200ms linear;
}

#editCategoryButton, .cancelEdit, .addNew2 {
  background: transparent;
  color: white;
  border: 1px solid white;
}

#editCategoryButton:hover, .cancelEdit:hover, .addNew2:hover {
  background: rgba(255,255,255, .8);
  color: black;
  border: 1px solid transparent;
  transition: none;
}

#addNewCategory {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.createCategorySection {
  text-align: center;
}

.MateItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/plant.jpg");
  background-size: cover;
}

.BombillasItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/ogmate.jpg");
  background-size: cover;
}

.GourdsItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/mate.jpg");
  background-size: cover;
}

.CasesItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/artsyMate.jpeg");
  background-size: cover;
}

.shop {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 500ms linear;
}

.shop:hover {
  border-bottom: 1px solid white;
  transition: border-bottom 300ms linear;
}

button {
  margin: 2%;
  border: 1px solid transparent;
  background: rgba(255,2555,255, .8);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;
  font-weight: lighter;
  transition: background 300ms linear;
}

button:hover {
  cursor: pointer;
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: background 300ms linear;
}

button:focus {
  outline: none;
}

.categoryProductList {
  display: flex;
  justify-content: center;
}

.categoryProductItem {
  background: rgba(255,255,255, .8);
  color: black;
  text-align: center;
  padding: 1%;
  margin: 1%;
  width: 28%;
}


.productImage {
  height: 40vh;
}

.productBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createProductSection {
  text-align: center;
}

.detailImage {
  height: 40vh;
}
