body {
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("/img/leaves.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

.pageWrapper {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*background: url('/img/ogmate.jpg') no-repeat center center fixed;
  background-size: cover;*/
  height: 70vh;
  justify-content: center;

}

.header h1 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.navLinks {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
