// Styles for user interface pages //

.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.categoryList > .ember-view {
  width: 48%;
}

.categoryItem {
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 2%;
}

.MateItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/plant.jpg");
  background-size: cover;
}

.BombillasItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/ogmate.jpg");
  background-size: cover;
}

.GourdsItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/mate.jpg");
  background-size: cover;
}

.CasesItem {
  background: linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("/img/artsyMate.jpeg");
  background-size: cover;
}

.shop {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 500ms linear;
  &:hover {
    border-bottom: 1px solid white;
    transition: border-bottom 300ms linear;
  }
}

.shopHeader {
  text-align: center;
  font-weight: lighter;
  font-family: 'Marck Script', cursive;
  font-size: 40px;
}

.usercategoryProductList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > .ember-view {
    width: 30%;
  }
  .userProductItem {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    margin: 2%;
    height: 38vh;
    .userProductImage {
      height: 25vh;
    }
    .userProductContent {
      padding: 3%;
      font-weight: lighter;
      h4 {
        margin-bottom: 0;
        font-size: 18px;
      }
      p {
        margin-top: 2px;
        text-transform: uppercase;
        font-size: 12px;
      }
      .userPrice {
        background: #70705A;
        color: white;
        text-align: center;
        padding: 5px 10px;
        font-weight: lighter;
        margin-bottom: 0;
      }
    }
    &:hover {
      box-shadow: 3px 3px 3px lightgray;
    }
  }
}
.detailImage {
  height: 40vh;
}
