<div class="pageWrapper">

    <div class="nav">
      {{#link-to 'index'}}<span class='logo'>Yerba Logo</span>{{/link-to}}
      <span class="navLinks">
        {{#link-to 'admin'}}<p>Admin</p>{{/link-to}}
        {{#link-to 'about'}}<p>About Mate</p>{{/link-to}}
        {{#link-to 'cart'}}<p>My Cart{{cart-count}}</p>{{/link-to}}
      </span>
    </div>



  {{outlet}}

  <div class="footer">
    <hr>
    <p>&copy; Taylor Pokoj 2016 | All Rights Reserved</p>
  </div>

</div>
