<div class="pageWrapper">

    <div class="nav">
      {{#link-to 'index'}}<span class='logo'>Yerba</span>{{/link-to}}
      <span class="navLinks">
        {{#link-to 'about'}}<p>About Mate</p>{{/link-to}}
        {{#link-to 'cart'}}<span><i class="fa fa-shopping-cart"></i>{{cart-count}}</span>{{/link-to}}
      </span>
    </div>



  {{outlet}}

  <div class="footer">
    <hr>
      {{#link-to 'admin'}}<p>Admin</p>{{/link-to}}
    <p>&copy; Taylor Pokoj 2016 | All Rights Reserved</p>
  </div>

</div>
