
<div class="header">
  <div class="headerText">
    <h1>Yerba</h1>
  </div>
</div>

{{#each model as |category|}}
{{#link-to 'category' category.id}}{{category-tile category=category}}{{/link-to}}
{{/each}}
