
<div class="header">
  <div class="headerText">
    <h1>Yerba</h1>
    <p class="lead">Your online store for the traditional South American drink</p>
  </div>
</div>

<div class="categoryList">
  {{#each model as |category|}}
  {{#link-to 'category' category.id}}{{category-tile category=category}}{{/link-to}}
  {{/each}}

</div>
